
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Mea+Culpa&family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Mea+Culpa&family=Pushster&family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Mea+Culpa&family=Pushster&family=Waterfall&display=swap');

.bg-color{
    background-color: rgb(5, 3, 99)!important;
}



.bg-dark{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url('../websayfasi-bilisimcetin/ımg/dimondsmenu5.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container{

height: 50vh;

}

.generic{

    padding: 100px 0;
}
